body {
  font-family: 'Righteous', cursive;
}

.ClockSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}

.ClockContainer {
  background: orange;
  color: white;
  border: 2px solid black;
  width: 40%;
}

.WeatherContainer {
  background: green;
  color: white;
  border: 2px solid black;
  width: 40%;
  padding: 10px;
}

.AutoCompleteContainer {
  background: blue;
  color: white;
  border: 2px solid black;
  width: 40%;
  padding: 10px;
}

.AutoCompleteContainer li:hover {
  cursor: pointer;
}

.widgets {
  display: flex;
  justify-content: flex-start;
}

.header-row {
  display: flex;
  margin: 0px;
}

.header-row h1 {
  flex-direction: row;
  padding: 9px 20px 9px 20px;
  border: 2px solid black;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  margin: 0px;
  background-color: rgb(147, 147, 255);
}

.header-row h1:active {
  border-bottom: none;
}

.TabContainer {
  display: flex;
  flex-direction: column;
}

.ArticleContainer {
  display: flex;
  margin: 0px 40px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  width: 333px;
  height: 280px;
  justify-content: center;
  align-items: center;
  background: rgb(147, 147, 255);
}

.ArticleContainer article {
  font-size: 25px;
}
