ul {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $light-gray;
}

ul li {
  margin: 10px;
  flex-direction: row;
}

ul li a:hover {
  background: $light-gray;
}

ul li:last-child {
  text-decoration: underline;
}
